body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 500px;

    margin: 0 auto;
    padding: 20px;

    background-color: lightblue;
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
        background-color: lightgreen;
    }
}