body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;

    flex-wrap: wrap;

    border: 2px solid black;

    width: 500px;
}

.item {
    flex-basis: 120px;
    flex-grow: 1;

    padding: 20px;
    margin: 10px;

    background-color: lightblue;
}

.one {
    flex-grow: 2;
}
