/* GLobal Styles */

body {
    font-family: Arial, sans-serif;
}

/* Components */

.card {
    max-width: 500px;

    margin: 20px auto;
    padding: 20px;

    border: 2px solid black;
    background-color: lightblue;
}

.card h2 {
    margin-top: 0;
}