body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 300px;

    border: 2px solid black;
}

.item {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
}